body{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}


#Cabecera {
    background-color: rgb(82, 82, 245);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: white;
}

#spanC{
    margin-left: 20px;
}
#container{
    width: 70%;
    
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{

    font-size: 20px;
}

#post{
    padding: 1em;
}
