body{
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.747);
}


#Cabecera {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0.5em 1em;
    color: white;
    background-color: rgb(49, 49, 145);
}

 #logo{
    width: 20px;
    vertical-align: middle;
}

#spanC{
    margin-left: 20px;
}
#container{
    width: 70%;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{

    font-size: 20px;
}

#post{
    padding: 1em;
    background-color: white;
    height: 300px;
}
